@use './mixins.scss';
@use "@material/card";
@include card.core-styles;

.headerContainer{
    flex-grow: 1;
    margin-bottom: 30px;

    &__toolbar{
        @media (max-width: 768px) {
            padding-top: 5%;
        }
    }
  }

  .indexPage{
    &__image{
        @include mixins.flex-display-justify-center;
        margin: 20px;
    }
  }

  .pageContainer{
    text-align: justify;
    margin-bottom: 150px;
        @media (max-width: 768px) {
            margin-bottom: 120px;
        }
  }

.textField{
    width: 300px
}

.hamburgerMenuContainer{
    &__navigationLinks{
        @include mixins.flex-display-column;

        align-items:flex-start;
    }

    &__navigationLink{
        margin-top: 10px;

    }
}

.myDashboardContainer{
    &__helloText{
        margin: 0 auto;
    }

    &__tabsContainer{
        margin-top: 30px;
        width: 90%;

            @media (max-width: 768px) {
            margin-bottom: 60px;
            
        }
    

    }
}

.boxesContainer{
    @include mixins.flex-display-column;

    width: 100%;

}

.registerNewParticipant{
    &__container{
        width: 400px;
        background-color: #F0F8FF;
        padding: 10px 60px 30px 50px;
        border-radius: 25px;
         margin-bottom: 150px;
    }

    &__title{
        margin-bottom: 10px;
    }

    &__participationFieldsContainer{
        @include mixins.flex-display-column;

        margin-bottom: 10px;
    }

    &__errorMessage{
        color: red;
    }

    &__textFieldValue{
        width: 300px;
    }

}

.abstractContainer{
    height: '500px';
    
    &__formBox{     
        @include mixins.flex-display-space-between;
        
    }
    &__titleText{
        width: '70%'
    }
}

.signupPage{
    &__container{
        width: 400px;
         background-color: #F0F8FF;
         padding: 10px 60px 30px 50px;
         border-radius: 25px;
         margin-bottom: 150px;


         @media (max-width: 768px) {
           width: 290px;
        }  
    }

    &__headerText{
        margin-bottom: 10px
    }

    &__participationFieldsContainer{
        @include mixins.flex-display-column;

         margin-bottom: 10px
    }

    &__fieldValue{
        width: 300px;
       
        @media (max-width: 768px) {
            width: 190px;
         }
    }

    &__errorMessage{
        color: red;
         align-self: left
    }
}

.Pdf {
    // @media (max-width: 768px){
        max-width: 100% !important;
    //   }
}
