@use './mixins.scss';
@use './keyframes.scss';
@use "@material/card";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@include card.core-styles;

.headerContainer{
    flex-grow: 1;
    margin-bottom: 30px;

    &__toolbar{
        @media (max-width: 768px) {
            padding-top: 5%;
        }
    }
  }

  .indexPage{
    &__image{
        @include mixins.flex-display-justify-center;
        margin: 20px;
    }
  }

  .pageContainer{
    text-align: justify;
    margin-bottom: 150px;
        @media (max-width: 768px) {
            margin-bottom: 120px;
        }
  }

.textField{
    width: 300px
}

.hamburgerMenuContainer{
    &__navigationLinks{
        @include mixins.flex-display-column;

        align-items:flex-start;
    }

    &__navigationLink{
        margin-top: 10px;

    }
}

.myDashboardContainer{
    &__helloText{
        margin: 0 auto;
    }

    &__tabsContainer{
        margin-top: 30px;
        width: 90%;

            @media (max-width: 768px) {
            margin-bottom: 60px;
            
        }
    }
}

.boxesContainer{
    @include mixins.flex-display-column;

    width: 100%;

}

.registerNewParticipant{
    display: flex; 
    align-items: start;
    width: 70%;
    margin: 0 auto;

    &__container{
        width: 400px;
        background-color: white;
        padding: 10px 60px 30px 50px;
        border-radius: 25px;
        margin-bottom: 150px;
        animation: 1s createBox forwards;
    }

    &__title{
        margin-bottom: 10px;
    }

    &__participationFieldsContainer{
        @include mixins.flex-display-column;

        margin-bottom: 10px;
    }

    &__errorMessage{
        color: red;
    }

    &__textFieldValue{
        width: 300px;
    }

}

.abstractContainer{
    height: '500px';
    
    &__formBox{     
        @include mixins.flex-display-space-between;
        
    }
    &__titleText{
        width: '70%'
    }
}

.signupPage{
    display: flex;
    align-items: center;
    width: 90%; 
    margin: 0 auto;

    &__container{
        width: 400px;
        background-color: white;
        padding: 10px 60px 30px 50px;
        border-radius: 25px;
        margin-bottom: 150px;
        animation: 1s createBox forwards;
        margin: 10px auto;

         @media (max-width: 768px) {
           width: 290px;
        }  
    }

    &__headerText{
        margin-bottom: 10px
    }

    &__participationFieldsContainer{
        @include mixins.flex-display-column;

         margin-bottom: 10px
    }

    &__fieldValue{
        width: 300px;
       
        @media (max-width: 768px) {
            width: 190px;
         }
    }

    &__errorMessage{
        color: red;
         align-self: left
    }
}

.loginPage {        
    animation: 1s createBox forwards;
    margin:0 auto; 
    width: 250px !important;
    margin-top: 100px;
    background-color: white;

    &__button{
       margin: 30px auto !important;
    }
}

.Pdf {
    // @media (max-width: 768px){
        max-width: 100% !important;
    //   }
}

.flag{
    &__container{
        width: 300px;
        height: 180px;
        background-color: white;
        margin: -10% auto;
        position: relative;
        animation: moveDown 1s ease-in-out 1s;
        animation-fill-mode: forwards;  
        
        @media (max-width: 768px) {
            animation: moveDownMobile 1s ease-in-out 2s;
            animation-fill-mode: forwards;  
        }
    }

    &__lineHorisontal{
        background-color:blue;
        height:20px;
        position: relative;
        top: 71px;
        animation:glideHorisontal 1s ease-in alternate;
    }

    &__lineVertical{
        background-color:blue;
        height:180px;
        width: 20px;
        position: relative;
        left: 67px;
        margin: 0 !important;
        top: -20px;
        animation:glideVertical 1s ease-in alternate;
    } 

    
    }

.index{
display: flex; 
justify-content: center;
    &__container{
    margin: 0 auto;
    height: 1300px;
   
}
    &__img1{
        position: relative;
        border: 5px solid black;
        animation:img1 5s ease-in-out;

    };

    &__img2{
        position: relative;
        border: 5px solid black;
        animation:img2 3s ease-in-out;
    };

    &__img3{
        position: relative;
        border: 5px solid black;
        animation:img3 2s ease-in-out;
    };


    &__ifusco{
        margin-top: 20px;
        text-align: center;
        animation:opacity 10s ease-in-out;
        cursor: pointer; 

        @media (max-width: 768px) {
            margin-top: 80px;
        } 
    }

    &__box{
        margin-bottom: 20px;
        text-align: center;
    }

    &__firstBox{
        margin-top: 300px;
        margin-bottom: 30px;
        text-align: center;
    }

}


