@keyframes createBox {
    from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
}

@keyframes img3  {
  from {
      left: -700px;
  }      
  to {
      left:0px;
  }
}

@keyframes img2  {
  from {
      left: -1100px;
  }
  
  to {
     right:50px;
  }
}

@keyframes img1  {
  from {
      left: -1500px;
  }       
  to {
     left:0px;
  }
}

@keyframes opacity  {
  from {
      opacity: 0
  }
  
  to {
      opacity: 100
  }
}
@keyframes glideHorisontal  {
  from {
     left:-1600px;
  } 
  to {
     left:0px;
  }
}

@keyframes glideVertical  {
  from {
     top:-180px;
  }
  
  to {
     top:0px;
  }
}

@keyframes moveDown  {
    from {
      top: 0px;
    }      
    to {
      top:130px;
    }
  }

@keyframes moveDownMobile  {
          from {
             top: 0px;
          }
          to {
             top:80px;
          }
      }


      @keyframes congrats  {
        from {
           top: 400px;
        }
        to {
           top:0px;
        }
    }